public/schemas/data_provider.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace="http://www.eol.org/transfer/resource/0.1" 
    xmlns="http://www.eol.org/transfer/resource/0.1" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:dcterms="http://purl.org/dc/terms/"
    xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
    xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#"
    elementFormDefault="qualified">
    
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://rs.tdwg.org/tapir/1.0/schema/xml.xsd"/>
    <xsd:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dc.xsd"/>
    <xsd:import namespace="http://purl.org/dc/terms/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dcterms.xsd"/>
    <xsd:import namespace="http://www.w3.org/2003/01/geo/wgs84_pos#" schemaLocation="http://rs.tdwg.org/tapir/1.0/schema/w3c_geo.xsd"/>
    <xsd:import namespace="http://www.w3.org/2001/vcard-rdf/3.0#" schemaLocation="http://rs.tdwg.org/tapir/1.0/schema/vcard.xsd"/>
    
    
    <xsd:element name="response" type="responseType">
    </xsd:element>
    
    <xsd:complexType name="responseType">
        <xsd:choice>
            <xsd:element name="metadata" type="metadataResultType"/>
            <xsd:element name="entity" type="entityInformationType"/>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="metadataResultType">
        <xsd:sequence>
            
            <xsd:element ref="dc:title">
                <xsd:annotation>
                    <xsd:documentation>The name of this service possibly in different languages.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element ref="dc:type">
                <xsd:annotation>
                    <xsd:documentation>The nature or genre of the content of the resource. http://purl.org/dc/dcmitype/Service</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="accesspoint" type="xsd:anyURI">
                <xsd:annotation>
                    <xsd:documentation>The URL of the access point of this service.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element ref="dc:description">
                <xsd:annotation>
                    <xsd:documentation>Description may include but is not limited to: an abstract, table of contents, reference to a graphical representation of content or a free-text account of the content.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element ref="dc:language" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Language of content that can be returned by search and inventory responses. This element must follow RFC 4646 and use language codes specified by the IANA Language Subtag Registry. More than one language can be specified, in case the provider can serve content in multiple languages. When there is no linguistic content, "zxx" must be used.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element ref="dc:subject" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Subject and Keywords. Typically, a Subject will be expressed as keywords, key phrases or classification codes that describe a topic of the resource. Recommended best practice is to select a value from a controlled vocabulary or formal classification scheme</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element ref="dcterms:bibliographicCitation" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Recommended practice is to include sufficient bibliographic detail to identify the resource as unambiguously as possible, whether or not the citation is in a standard form.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="license">
                <xsd:annotation>
                    <xsd:documentation>A legal document giving official permission to do something with the resource.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:anyURI">
                        <xsd:enumeration value="http://creativecommons.org/licenses/publicdomain/"/>
                        <xsd:enumeration value="http://creativecommons.org/licenses/by/3.0/"/>
                        <xsd:enumeration value="http://creativecommons.org/licenses/by-nc/3.0/"/>
                        <xsd:enumeration value="http://creativecommons.org/licenses/by-sa/3.0/"/>
                        <xsd:enumeration value="http://creativecommons.org/licenses/by-nc-sa/3.0/"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            
            <xsd:element ref="dc:rights" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Typically, rights information includes a statement about various property rights associated with the resource, including intellectual property rights.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element ref="dcterms:rightsHolder" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A person or organization owning or managing rights over the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element ref="dcterms:modified" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element ref="dcterms:created" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="refreshPeriodDays" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="relatedEntity" type="relatedEntityInformationType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Entities (companies, organisations, institutions) related to this service with their respective roles, e.g. publisher, data supplier</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        
        <xsd:attribute ref="xml:lang" use="optional"/>
    </xsd:complexType>
    
    <xsd:complexType name="relatedEntityInformationType">
        <xsd:annotation>
            <xsd:documentation>Information about an entity that may have some relationship with the service being provided.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            
            <xsd:element name="role" type="roleType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Used to specify the roles of a related entity, such as "data supplier", "technical host", etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="entity" type="entityInformationType"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="roleType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="data supplier"/>
            <xsd:enumeration value="technical host"/>
            <xsd:enumeration value="data administrator"/>
            <xsd:enumeration value="system administrator"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="contactType">
        <xsd:sequence>
            <xsd:element name="role" type="roleType" maxOccurs="unbounded" />
            <xsd:element ref="vcard:VCARD"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="entityInformationType">
        <xsd:annotation>
            <xsd:documentation>Entity information.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            
            <xsd:element name="identifier" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A global unique identifier for the entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="name" type="languageAwareElementType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The name of the entity possibly in different languages.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="acronym" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>An acronym for the entity name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="logoURL" type="xsd:anyURI" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A URL to a small logo of the entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="description" type="languageAwareElementType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The description of the entity possibly in different languages.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="address" type="xsd:string" minOccurs="0"/>
            
            <xsd:element ref="geo:Point" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Location of the entity in decimal WGS84 latitude and longitude (and optional altitude) as defined by the W3C Basic Geo Vocabulary</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="relatedInformation" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Other related information about this entity found at the specified URL.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="hasContact" type="contactType" maxOccurs="unbounded" />
        </xsd:sequence>
        
        <xsd:attribute ref="xml:lang" use="optional"/>
    </xsd:complexType>
    
    <xsd:complexType name="languageAwareElementType">
        <xsd:annotation>
            <xsd:documentation>String with a language attribute. A type for elements that may be language specific.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute ref="xml:lang" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
